<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalNuGetFeed" value="D:\LocalNuGetFeed" />
    <add key="GitHubPackages" value="https://nuget.pkg.github.com/Erebus671/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="coverlet.*" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="LocalNuGetFeed">
      <package pattern="DotNetTestKit*" />
    </packageSource>
    <packageSource key="GitHubPackages">
      <package pattern="DotNetTestKit*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
